<%= title bok.title %>
<ul class="properties">
  <li>Descripción: <%= bok.description %></li>
  <li>Por: <%= bok.authors %></li>
  <li>Posición: <%= bok.position %></li>
</ul>
<div class="actions">
  <%= link_to 'Editar', [:edit, :admin, @project, bok] %>
</div>

<h2>Contenido</h2>
<div class="page">
  <%= bok.body.html_safe %>
</div>

<h2><%= link_to 'Ficheros', [:admin, @project, bok, :assets] %></h2>
<%= render_assets bok.assets, bok %>