<div id="session">
  <%= link_to 'Plataformabooka.net', root_path %><br/>
  <% if current_user %>
      Hola, <%= link_to current_user.name, current_user %>
      <br/>
      <%= link_to 'Salir', logout_path %><br/>
      <% if current_user.admin? %>
          <%= link_to '> Participantes', users_path %>
      <% end %>
  <% else %>
      <%= link_to 'Iniciar sesión', login_path %>
  <% end %>
  <%= link_to 'Ayuda', '/booka' %><br/>
</div>
