<% title @content.title %>

<div class="row24">
  <div class="col-left">&nbsp;</div>
  <div id="header" class="col-main">
    <%= render :partial => 'series/header' %>
    <h2><%= @project.title %></h2>
    <ul class="navigator">
      <li><%= link_to 'INTRO', project_call_path(@project) %></li>
      <span>|</span>
      <li>MATERIALES</li>
    </ul>

  </div>
</div>

<div class="row24">
  <div id="navigation" class="col-left">
    <%= link_to image_tag('iconos/libro.png'), @project %>
    <h2>Materiales</h2>
    <ul>
      <% @contents.each do |content| %>
          <%= content_tag_for :li, content do %>
              <h3><%= link_to content.title, [@project, content] %></h3>

              <div class="authors"><%= content.authors %></div>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-center-left">
    <% @content.assets.each do |asset| %>
        <%= image_tag asset.file.url %>
    <% end %>
    &nbsp;
  </div>
  <div class="col-center-right">
    <h1><%= @content.title %></h1>

    <h2><%= @content.authors %></h2>
    <%= render_body @content %>
    &nbsp;
  </div>
</div>



