<div class="actions">
  <%= button_to 'Añadir convocatoria', [:new, :admin, @project, :call], :method => 'get' %>
</div>

<table>
  <thead>
    <tr>
      <td>Posición</td>
      <td></td>
      <td>Título</td>
      <td>Descripción</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% calls.each do |call| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <%= position_actions(call) %>
        <td><%= call.position %></td>
        <td class="title"><%= link_to call.title, [:admin, @project, call] %></td>
        <td><%= call.description %></td>
        <td class="actions">
          <%= button_to 'Editar', edit_admin_project_call_path(@project, call), :method => :get %>
          <% if calls.size > 1 %>
            <%= button_to 'Borrar', [:admin, @project, call], :method => :delete,
              :confirm => "Quieres borrar el proyecto '#{call.title}'!! No se puede volver atrás!!. ¿Segura?" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
