<h3><%= breadcrumbs @project, 'Convocatoria' %></h3>
<%= title @call.title %>
<ul class="properties">
  <li>Descripción: <%= @call.description %></li>
</ul>
<div class="actions">
  <%= button_to 'Editar', edit_admin_project_call_path(@project, @call), :method => :get %>
</div>

<h2>Contenido</h2>
<div class="page">
  <%= @call.body.html_safe %>
</div>