<ul class="outline">
  <h2>Tema: <%= topic.title %></h2>
  <li><%= link_to 'Exposición', '#description' %></li>
  <li><%= link_to 'Propuestas', '#answers' %></li>
  <li><%= link_to 'Acuerdos', '#agreements' %></li>
  <li><%= link_to 'Tareas', '#tasks' %></li>
</ul>
