<% title 'A침adir tema de discusi칩n' %>

<%= render_top :asambleas %>

<div class="row24">
<div class="col-left">
  <%= render_browser :topics, @topics %>
</div>
<div class="col-center">
  <h1>A침adir tema de discusi칩n</h1>
  <%= simple_form_for [@project, @asamblea, @topic] do |form| %>
      <%= form.input :title %>
      <%= form.input :body %>
  <div class="controls">
    <%= form.submit %>
    <%= link_to 'Cancelar', [@project, @asamblea] %>
  </div>
  <% end  %>
</div>
<div class="col-right"></div>
</div>