<% title topic.title %>

<%= render_top :asambleas %>

<div class="row24">
  <div class="col-left">
    <%= render_browser :topics, topics %>
  </div>
  <div class="col-center app">
    <%= div_for topic, :class => 'model' do %>
        <p><b>Tema</b> de la reuni칩n '<%= link_to asamblea.title, [project, asamblea] %>'
          creado <b><%= topic.user.name %></b> hace <%= time_ago_in_words topic.created_at %>:<br/></p>
        <br/>
        <h1><%= topic.title %></h1>
        <%= render_body topic %>
        <% if can? :update, topic %>
            <div class="actions">
              <%= link_to 'Modificar tema', [:edit, project, asamblea, topic] %>
            </div>
        <% end %>
        <div class="inline">
          <%= render topic.comments %>
          <% if can? :update, topic %>
              <div class="inline_form">
                <a href="#" class="expander"><span>+</span>Comentar tema</a>
                <%= render :partial => 'comments/form', :locals => {:parent => topic} %>
              </div>
          <% end %>
        </div>
        <a name="answers"></a>

        <h2>Propuestas</h2>
        <div class="inline">
        <%= render topic.answers %>
        <% if can? :update, topic %>
            <div class="inline_form">
              <a href="#" class="expander"><span>+</span>A침adir una propuesta a este tema</a>
              <%= render :partial => 'answers/form' %>
            </div>
        <% end %>
        <a name="agreements"></a>
        </div>

        <h2>Acuerdos</h2>

        <div class="inline">
          <%= render topic.agreements %>
          <% if can? :update, topic %>
              <div class="inline_form">
                <a href="#" class="expander"><span>+</span>A침adir un acuerdo a este tema</a>
                <%#= render :partial => 'answers/form' %>
              </div>
          <% end %>
        </div>

        <a name="tasks"></a>
        <h2>Tareas</h2>
        <div class="inline">
          <%= render topic.tasks %>
          <% if can? :update, topic %>
              <div class="inline_form">
                <a href="#" class="expander"><span>+</span>A침adir una tarea a este tema</a>
                <%#= render :partial => 'answers/form' %>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="col-right">
    <%= render :partial => 'outline' %>
  </div>
</div>