<%= title 'Participantes' %>

<table>
  <thead>
    <tr>
      <td></td>
      <td>Nombre</td>
      <td>Email</td>
      <td>Roles</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td class="avatar"><%= image_tag avatar_url(user) %></td>
        <td><%= link_to user.name, [:admin, user] %></td>
        <td><%= user.email %></td>
        <td><%= user.roles %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_admin_user_path(user) %>
          <%= link_to('Borrar', admin_user_path(user), :method => :delete,
          :confirm => "Quieres borrar el usuario '#{user.name}'!! No se puede volver atrás!!. ¿Segura?") if user.boks.count == 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

