<h3><%= link_to 'Participantes', admin_users_path %> > Participante </h3>
<%= title @user.name %>

<%= image_tag avatar_url(@user, 96) %>
<br/>
<ul class="properties">
  <li>Email: <%= @user.email %></li>
  <li>Roles: <%= @user.roles %></li>
</ul>


<div class="actions">
  <%= link_to 'Editar', edit_admin_user_path(@user) %>
</div>

<h2><%= link_to 'Permisos', [:admin, @user, :permissions] %></h2>
<div class="actions"><%= link_to 'Añadir permiso', [:new, :admin, @user, :permission] %></div>
<%= render :partial => '/admin/permissions/permission', :collection => @user.permissions %>

<h2>Authorizaciones</h2>
<% @user.authorizations.each do |auth| %>
    <div class="model"><%= auth.uid %></div>
<% end %>

<h2>Boks</h2>
<%= render :partial => '/admin/boks/bok', :collection => @user.boks %>
