<% title "Trabajos" %>

<%= render_top :users do %>
    <h1>Trabajos</h1>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center">
    <h2>Resultado</h2>

    <div class="actions">
      <%= link_to 'Siguiente', work_path %>
    </div>
    <% if flash[:worker_output] %>
        <ul>
          <% flash[:worker_output].each do |line| %>
              <li><%= line %></li>
          <% end %>
        </ul>
    <% end %>
    <br/>

    <h2>Lanzar</h2>
    <%= simple_form_for Job.new(:name => 'system.nothing') do |form| %>
        <%= form.input :name %>
        <%= form.input :priority %>
        <div class="controls">
          <%= form.submit %>
        </div>
    <% end %>
    <br/>

    <h2>Cola</h2>
    <table>
      <%= render jobs %>
    </table>
    <br/>
    <h2>Variables</h2>
    <table>
      <% app_vars.each do |var| %>
          <td><%= var.name %></td>
          <td><%= var.value %></td>
          <td>'<%= var.data %>'</td>
          <td>(<%= var.count %>)</td>
          <td><%= l var.created_at, :format => :short %></td>
      <% end %>
    </table>
    <br/>

    <h2>Completados</h2>
    <table>
      <%= render finished %>
    </table>

  </div>
  <div id="info" class="col-right">
  </div>
</div>


