<% title @call.title %>

<div class="row24">
  <div class="col-left">&nbsp;</div>
  <div id="header" class="col-main">
    <%= render :partial => 'series/header' %>

    <h2><%= @call.title %></h2>
    <ul class="navigator">
      <li>INTRO</li>
      <span>|</span>
      <li><%= link_to 'MATERIALES', project_contents_path(@project) %></li>
    </ul>
  </div>
</div>

<div class="row24">
  <div id="navigation" class="col-left">
    <%= link_to image_tag(@series.icon_path, :alt => @series.title), @series %>
    <h2>Convocatorias </h2>
    <ul>
      <% @series.projects.each do |project| %>
          <%= content_tag_for :li, project do %>
              <h3><%= link_to project.title, project %></h3>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-center">
    <%= render_body @call %>&nbsp;
  </div>
  <div id="info" class="col-right">
    que ponemos aquí
  </div>
</div>
