<% title @call.title %>

<%= render_top %>

<div class="row24">
  <div id="navigation" class="col-left">
    <%= link_to image_tag(@series.icon_path, :alt => @series.title), @series %>
    <h2>Convocatorias </h2>
    <ul>
      <% @series.projects.each do |project| %>
          <%= content_tag_for :li, project do %>
              <h3><%= link_to project.title, project %></h3>
          <% end %>
      <% end %>
    </ul>
    <%= image_tag 'logos/LOGO-VIBOK.png', :alt => 'vibok', :id => 'logo-vibok' %>
  </div>
  <div class="col-center">
    <%= render_body @call %>&nbsp;
    <%= disqus @call %>
  </div>
  <div id="info" class="col-right">
    <%= render_body Page.get('propuestas') %>
  </div>
</div>
