<% title call.title %>

<%= render_top %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= link_to image_tag(serie.icon_path, :alt => serie.title), serie %>
    <%= render_browser :calls, serie.projects %>
  </div>
  <div class="col-center">
    <%= render_body call %>
    <div class="actions">
      <% if can? :update, call %>
          <%= link_to 'Editar introducción', [:edit, project, call] %>
      <% end %>
    </div>
    <%= disqus call %>
  </div>
  <div id="info" class="col-right">
    <%= render_body Page.get('propuestas') %>
  </div>
</div>
