<% title @call.title %>

<%= render_top %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= link_to image_tag(@series.icon_path, :alt => @series.title), @series %>
    <%= render_browser :calls, @series.projects %>
  </div>
  <div class="col-center">
    <%= render_body @call %>&nbsp;
    <%= disqus @call %>
  </div>
  <div id="info" class="col-right">
    <%= render_body Page.get('propuestas') %>
  </div>
</div>
