<% title call.title %>

<%= render_top do %>
    <%= button_group do %>
        <%= button_link_to('Editar introducción', [:edit, project, call]) if can? :update, call %>
    <% end %>
<% end %>
<div class="row24">
  <div id="browser" class="col-left">
    <%= link_to image_tag(serie.icon_path, :alt => serie.title), serie %>
    <%= render_browser :calls, serie.projects %>
  </div>
  <div class="col-center">
    <%= render_body call %>
    <%= disqus call %>
  </div>
  <div id="info" class="col-right">
    <%= render_body Page.get('propuestas') %>
  </div>
</div>
