<% title user.name %>

<%= render_top do %>
    <h1>Participantes</h1>
    <h2><%= user.name %></h2>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center-left">
    <%= div_for user, :class => 'model' do %>
        <%= image_tag avatar_url(user, 96) %>
        <ul class="properties">
          <li><label>Nombre:</label><%= user.name %></li>
          <li><label>Email:</label><%= user.email %></li>
          <li><label>Rol:</label><%= user.roles %></li>
          <li>Participa en <%= user.permissions.count %> bookas</li>
          <li>Ha creado <%= user.boks.count %> entradas</li>
        </ul>
        <div class="actions">
          <%= link_to 'Modificar', [:edit, user] if can? :update, user %>
          <% if can?(:destroy, user) and user.permissions.count == 0 and user.boks.count == 0 %>
              <%= link_to 'Borrar', user, :method => :delete, :confirm => 'BORRAR USUARIO!?' %>
          <% end %>
          <% if current_user and current_user.roles == 'super' %>
              <%= link_to 'Entrar!', enter_path(user.id) %>
          <% end %>
        </div>
    <% end %>
    <% if current_user and (current_user.super? or current_user == user) %>
        <h2>Actividad en tus bookas</h2>
        <%= render user.asubs %>
    <% end %>
  </div>
  <div id="info" class="col-center-right">
    <h2>Bookas</h2>
    <%= render user.permissions %>
  </div>
</div>
