<% title user.name %>

<%= render_top do %>
    <h1>Participantes</h1>
    <h2><%= user.name %></h2>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center-left">
    <%= button_group do %>
        <%= button_link_to 'Modificar', [:edit, user] if can? :update, user %>
        <% if can?(:destroy, user) and user.permissions.count == 0 and user.boks.count == 0 %>
            <%= button_link_to 'Borrar', user, :method => :delete, :confirm => 'BORRAR USUARIO!?' %>
        <% end %>
        <% if current_user and current_user.roles == 'super' %>
            <%= button_link_to 'Entrar!', enter_path(user.id) %>
            <%= button_link_to 'Enviar invitación', new_user_invitation_path(user) %>
            <%= button_link_to 'Notificar por email', user_email_notifications_path(user), :method => :post %>
        <% end %>
    <% end %>

    <%= div_for user, :class => 'model' do %>
        <%= image_tag avatar_url(user, 96) %>
        <ul class="properties">
          <li><label>Nombre:</label><%= user.name %></li>
          <li><label>Email:</label><%= user.email %></li>
          <li><label>Rol:</label><%= user.roles %></li>
          <li>Participa en <%= user.permissions.count %> bookas</li>
          <li>Ha creado <%= user.boks.count %> entradas</li>
        </ul>
        <div class="actions">
        </div>
    <% end %>
    <% if current_user and (current_user.super? or current_user == user) %>
        <h2>Actividad en tus bookas</h2>
        <%= render user.notifications.pending %>
    <% end %>
  </div>
  <div id="info" class="col-center-right">
    <h2>Bookas</h2>
    <%= render user.permissions %>
  </div>
</div>
