<div class="actions">
  <%= link_to 'Crear libro', new_admin_project_path %>
</div>

<table>
  <thead>
    <tr>
      <td>Título</td>
      <td>Descripción</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to project.title, [:admin, project] %></td>
        <td><%= project.description %></td>
        <td class="actions">
          <%= link_to 'Administrar', admin_project_path(project) %>
          <%#= link_to 'Borrar', admin_project_path(project), :method => :delete,
          :confirm => "Quieres borrar el proyecto '#{project.title}'!! No se puede volver atrás!!. ¿Segura?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
