<div class="actions">
  <%= link_to 'Editar', edit_admin_project_path(@project) %>
  <%= link_to 'Ver en la web', project_call_path(@project)  %>
</div>
<h3><%= link_to 'Libros', [:admin, :projects] %> > Libro</h3>
<%= title @project.title %>
<ul class="properties">
  <li>Descripción: <%= @project.description %></li>
  <li>Fase de presentación de propuestas: <%= @project.stage_content == 'open' ? 'abierta' : 'cerrada' %></li>
</ul>

<h2><%= link_to 'Convocatorias', [:admin, @project, :calls] %></h2>
<% @calls = @project.calls %>
<%= render '/admin/calls/calls' %>

<h2><%= link_to 'Artículos', [:admin, @project, :contents] %></h2>
<% @contents = @project.contents %>
<%= render '/admin/contents/contents' %>
