<h3><%= link_to 'Libros', [:admin, :projects] %> > Libro</h3>
<%= title @project.title %>
<ul class="properties">
  <li>Propietario: <%= @project.user.name %></li>
  <li>Serie: <%= @project.series.title %></li>
  <li>Descripción: <%= @project.description %></li>
  <li>Fase de presentación de propuestas: <%= @project.stage_content == 'open' ? 'abierta' : 'cerrada' %></li>
</ul>
<div class="actions">
  <%= link_to 'Editar', edit_admin_project_path(@project), :method => :get %>
  <%= link_to 'Ver en la web', project_call_path(@project), :method => :get  %>
</div>

<h2><%= link_to 'Presentaciones', [:admin, @project, :calls] %></h2>
<%= render :partial => '/admin/calls/calls', :object => @project.calls %>

<h2><%= link_to 'Propuestas presentadas', [:admin, @project, :proposals] %></h2>
<%= render :partial => '/admin/proposals/proposals', :object => @project.proposals %>

<h2><%= link_to 'Artículos', [:admin, @project, :contents] %></h2>
<%= render :partial => '/admin/contents/contents', :object => @project.contents %>

<h2><%= link_to 'Ficheros', [:admin, @project, :assets] %></h2>
<%= render_assets @project.assets %>
