<h3><%= link_to 'Libros', [:admin, :projects] %> > Libro</h3>
<%= title @project.title %>
<ul class="properties">
  <li>Descripción: <%= @project.description %></li>
  <li>Fase de presentación de propuestas: <%= @project.stage_content == 'open' ? 'abierta' : 'cerrada' %></li>
</ul>
<div class="actions">
  <%= button_to 'Editar', edit_admin_project_path(@project) %>
  <%= button_to 'Ver en la web', project_call_path(@project)  %>
</div>

<h2><%= link_to 'Convocatorias', [:admin, @project, :calls] %></h2>
<%= render :partial => '/admin/calls/calls', :object => @project.calls %>

<h2><%= link_to 'Propuestas presentadas', [:admin, @project, :proposals] %></h2>
<%= render :partial => '/admin/proposals/proposals', :object => @project.proposals %>

<h2><%= link_to 'Artículos', [:admin, @project, :contents] %></h2>
<% @contents = @project.contents %>
<%= render :partial => '/admin/contents/contents', :object => @project.contents %>
