<%= content_for :header do %>
    <h1>booka</h1>
    <h2>plataforma editorial abierta</h2>
<% end %>

<%= content_for :navigation do %>
<%= image_tag 'iconos/booka.jpg', :alt => 'booka' %>
    <h2>Series</h2>
    <% Serie.all.each do |serie| %>
        <%= div_for serie do %>
            <h3><%= serie.name %></h3>
        <% end %>
    <% end %>
<% end %>

<% title @page.title %>

<%= @page.body_rendered %>

<%= content_for :info do %>
    <%= @info.body_rendered %>
<% end %>