<%= simple_form_for(@proposal, :url => [@project, :proposal], :html => { :multipart => true}) do |form| %>
  <div class="inputs">
    <%= form.input :title %>
    <%= form.input :authors %>
    <%= form.input :description, :as => :text, :input_html => { :rows => 5 } %>
    <%= form.input :body %>
    <%= form.input :rol, :as => :hidden  %>
  </div>
  <div class="assets">
    <% 1.upto(4) do |n| %>
      <% file = @proposal.send("file#{n}") %>
      <%= form.input "file#{n}", :as => :file %>
      <% if file.url %>
        <div class="current_file" style="margin-bottom: 1em;">
          <label>Fichero <%= n %> actual: </label><%= link_to File.basename(file.path), file.url %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="controls">
    <%= form.submit %><%= link_to 'Cancelar', project_call_path(@project) %>
  </div>
<% end %>