<h3><%= breadcrumbs @project, 'Propuestas' %></h3>
<%= title @proposal.title %>
<ul class="properties">
  <li>Tipo de propueta: <%= @proposal.rol %></li>
  <li>Subido por: <%= @proposal.user.name %></li>
  <li>Descripción: <%= @proposal.description %></li>
  <li>Autores: <%= @proposal.authors %></li>
</ul>


<h2>Contenido</h2>
<div class="page">
  <%= @proposal.body.html_safe %>
</div>

<h2>Ficheros</h2>
<ul class="properties">
  <% 1.upto(4) do |n| %>
    <li><span>Fichero <%= n %>:</span>
      <% file = @proposal.send("file#{n}") %>
      <%= link_to_if file.url, file.url, file.url %>
    </li>
  <% end %>
</ul>