<% title "Subscripciones" %>

<%= render_top :users do %>
    <h1>Subscripciones</h1>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center">
    <table>
      <% asubs.each do |asub| %>
          <tr>
            <td><%= asub.activity.activity_at %></td>
            <td><%= asub.user.name %></td>
            <td><%= asub.activity.action %></td>
            <td><%= asub.activity.project.title %></td>
            <td><%= asub.notified %></td>
          </tr>
      <% end %>
    </table>
    <div id="info" class="col-right">
    </div>
  </div>
</div>