<%= simple_form_for([:admin, @user]) do |form| %>
  <div class="inputs">
    <%= form.input :name %>
    <%= form.input :roles %>
  </div>
  <div class="controls">
    <%= form.submit %><%= link_to 'Cancelar', (@user.new_record? ? admin_users_path : [:admin, @user])%>
  </div>
<% end %>