<% title "Actividad" %>

<%= render_top :users do %>
    <h1>Actividad</h1>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    &nbsp;
  </div>
  <div class="col-center">
    <%= form_for Job.new(:name => 'activity.report') do |form| %>
        <%= form.hidden_field :name %>
        <%= form.submit %>
    <% end %>
    <table>
      <thead>
      <tr>
        <td>Hace</td>
        <td>Actividad</td>
      </tr>
      </thead>
      <tbody>
      <% activities.each do |activity| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= time_ago_in_words activity.created_at %></td>
            <td>
              <%= activity.user ? link_to(activity.user.name, user_path(activity.user)) : 'Alguien' %> ha
              <%= t "activity.action.#{activity.action}" %> <%= t "activity.model.#{activity.model}" %>
              <% if activity.project %>
                  en <%= link_to "'#{activity.project.title}'", project_path(activity.project) %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div id="info" class="col-right">
    </div>
  </div>
</div>