<% title page.title %>

<%= render_top do %>
    <h1>booka</h1>
    <h4>plataforma editorial abierta</h4>
    <%= button_group do %>
        <% if can? :manage, Serie %>
            <%= add_button_link_to 'Crear una serie', new_series_path, :id => "new_serie_link" %>
        <% end %>
        <%= edit_button_link_to('Editar página', edit_page_path(page)) if can? :edit, page %>
    <% end %>
<% end %>


<div class="row24">
  <div id="browser" class="col-left">
    <%= link_to image_tag('iconos/booka.png'), root_path %>
    <%= render_browser :series, series %>
  </div>
  <div class="col-center editable" data-page="<%= page.id %>">
    <%= render_body page %>
    <%= disqus page %>
  </div>
  <div id="info" class="col-right">
    <%= render_body info %>
  </div>
</div>

