<% title @page.title %>

<%= render_top do  %>
    <h1>booka</h1>
    <h4>plataforma editorial abierta</h4>
<% end %>


<div class="row24">
  <div id="navigation" class="col-left">
    <%= link_to image_tag('iconos/booka.png'), root_path %>
    <h2>Series</h2>
    <ul>
      <% @series.each do |serie| %>
          <%= content_tag_for :li, serie do %>
              <h3><%= link_to serie.title, serie %></h3>
          <% end %>
      <% end %>
    </ul>
    <%= image_tag 'logos/LOGO-VIBOK.png', :alt => 'vibok', :id => 'logo-vibok' %>
  </div>
  <div class="col-center editable" data-page="<%= @page.id %>">
    <%= render_body @page %>
    <%= disqus @page %>
  </div>
  <div id="info" class="col-right">
    <%= render_body @info %>
  </div>
</div>

