<% title serie.title %>

<%= render_top do %>
    <%= render :partial => 'series/header', :locals => {:serie => serie} %>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= link_to image_tag(serie.icon_path, :alt => serie.title), root_path %>
    <%= render_browser :projects, serie.projects %>

  </div>
  <div class="col-center">
    <%= render_body serie %>
    <%= disqus serie %>
  </div>
  <div id="info" class="col-right">
    <%= render_body serie.page %>
  </div>
</div>



