<% title @series.name %>

<%= content_for :header do %>
    <h1><%= @series.name %></h1>
    <ul class="navigator">
      <li><%= link_to 'booka', root_path %></li>
      <% Series.all.each do |serie| %>
         <span>|</span><li><%= link_to_unless_current serie.name, serie %></li>
      <% end %>
    </ul>
<% end %>

<%= content_for :navigation do %>
    <%= image_tag 'iconos/booka.jpg', :alt => 'booka' %>
    <h2>Convocatorias </h2>
    <% @series.projects.each do |project| %>
        <%= div_for project do %>
            <h3><%= link_to project.title, project %></h3>
        <% end %>
    <% end %>
<% end %>

<%= render_body @series %>

<%= content_for :info do %>
    que ponemos aquí
<% end %>