<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - Plataformabooka.net </title>
    <%= include_stylesheets :public, :media => 'all' %>
    <%= include_javascripts :common %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <div id="stages">
        <%= link_to 'Convocatorias', root_path %>
        <%= link_to('Materiales', [@project, :contents]) if @project %>
      </div>
      <div id="session">
        <% if current_user %>
          Eres: <%= current_user.name %> <%= link_to 'Salir', signout_path %>
        <% else %>
          <%= link_to 'Identificarse', login_path %>
        <% end %>
      </div>
      <h1 class="center"><%= @project ? @project.title : 'Plataformabooka.net' %></h1>
    </div>
    <%= yield %>
  </body>
</html>
