<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <title><%= yield :title %> - Plataformabooka.net </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Tinos:regular,italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <!-- The 1140px Grid -->
  <link rel="stylesheet" href="/stylesheets/grid/1140.css" type="text/css" media="screen"/>
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="/stylesheets/grid/ie.css" type="text/css" media="screen"/>
  <![endif]-->
  <!-- Type and image presets - NOT ESSENTIAL -->
  <link rel="stylesheet" href="/stylesheets/grid/typeimg.css" type="text/css" media="screen"/>
  <!-- Make minor type adjustments for 1024 monitors -->
  <link rel="stylesheet" href="/stylesheets/grid/smallerscreen.css" media="only screen and (max-width: 1023px)"/>
  <!-- Resets grid for mobile -->
  <link rel="stylesheet" href="/stylesheets/grid/mobile.css" media="handheld, only screen and (max-width: 767px)"/>
  <!-- Put your layout here -->
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/layout.less">
  <script src="/javascripts/less-1.0.40.min.js" type="text/javascript"></script>
</head>


<body>

<div class="container">
  <div class="row">
    <div class="threecol">&nbsp;</div>
    <div id="header" class="ninecol last"><%= yield :header %></div>
  </div>
  <div class="row">
    <div id="navigation" class="threecol"><%= yield :navigation %>&nbsp;</div>
    <div class="ninecol last">
      <div class="row">
        <div id="title" class="twelvecol last"><h1><%= yield :title %></h1></div>
      </div>
      <div class="row">
        <div class="eightcol">
          <div class="body">
            <%= yield %>
          </div>

          <div id="contact">Ediciones Vib[]k 2011 | C / Dinastía Músicos Palatín 9 - 4ºC | 41008 Sevilla | España | 34 954 31 63 48 | info@edicionesvibok.net</div>
        </div>
        <div class="fourcol last"><%= yield :info %>&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">!window.jQuery && document.write('<script src="/javascripts/jquery-1.4.4.min.js"><\/script>')</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
<%= javascript_include_tag 'public.js' %>


</body>

</html>