<div class="row24">
  <div class="col-left">
    <%= render 'sessions/session' %>
  </div>
  <div id="header" class="col-main">
    <%= render(:partial => 'series/header', :locals => {:serie => project.serie}) if project?  %>
    <%= yield :body %>
    <% if project? %>
        <h1><%= project.title %></h1>
        <%= render_project_nav(project, current) %>
    <% end %>
  </div>
</div>
